@import "_vars"
@import "_mixins"
@import "_fonts"
@import "_global"

html 
  font-size: 10px
  background: #000

*,
*:after,
*:before 
  box-sizing: border-box

.container 
  width: 100%
  max-width: 128rem
  margin: 0 auto   

@media (max-width: 1280px) 
  .container 
    margin: 0
    padding: 0 2rem

@import "header" 
@import "home" 

